.items {
  border-left: 1px dashed #ccc;
  min-height: 10px;
  margin-left: 9px;
}

.itemcontainer {
  display: flex;
  justify-content: flex-start;
}

.itemcontainer--center {
  align-items: center;
}

.tierspacer{
  min-width: 10px;
  border-top: 1px dashed #ccc;
}
.heading {
  display: flex;
  /*align-items: center;*/
}


.subheading {
  display: flex;
  /*align-items: center;*/
}

.topright {
  min-height: 10px;
  min-width: 0px;
  border-left: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  margin-left: 4px;
}

.bottom-right {
  min-height: 10px;
}

.finalitemcolumn {
  display: flex;
  flex-direction: column;
}

.finalitemparent {
  display: flex;
  margin-left: 5px;
}

.icon {
  padding: 7px;
  /*align-items: center;*/
  margin-top: -5px;
}
